*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 5%;
    background-color: #24262b;
}

.logo{
    cursor: pointer;
    margin-right: auto;
    width: 10%;
    height: 10%;
}