@import url(fontawesome.css);
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@1,200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 2;
	font-family: 'Poppins', sans-serif;
	background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
footer{
    clear:both;
    background-color:rgb(20, 20, 20);
    color:rgb(245, 179, 215);
}
  
footer h3{
    font-family: 'Kaushan Script', cursive;
    font-size: 22px;
}
  
.working-hours{
    float:left;
    width:14%;
    margin-left:8%;
    margin-bottom:10px;
}
  
.working-hours p{
    font-size:16px;
    color:rgb(214, 214, 214);
    margin-top:0.7%;
}
  
.services{
    float:left;
    width:12%;
    margin-left:5%;
    margin-bottom:10px;
}
  
.services a{
    font-size:16px;
    color:rgb(214, 214, 214);
    text-decoration:none;
    margin-top:-0.7%;
}
  
.services a:hover, .link a:hover{
    text-decoration:underline;
    color:rgb(188, 248, 188);
}
  
.contact{
    float:left;
    width:18%;
    margin-left:5%;
    margin-bottom:10px;
}
  
.contact p{
    font-size:16px;
    color:rgb(214, 214, 214);
}
  
.contact a{font-size:22px;}
  
.link a{
    font-size:16px;
    color:rgb(214, 214, 214);
    text-decoration:none;
}
  
.acknowledgement{
    float:left;
    width:20%;
    margin-top: 45px;
    margin-left:7%;
    margin-bottom:10px;
    color:rgb(214, 214, 214);
    text-align:center;
    font-family: 'Kaushan Script', cursive;
    font-size: 18px;
}
  
.last{
    color:rgb(214, 214, 214);
    clear:both;
    text-align:center;
}
  
/* Social Network */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 65px;
    text-align: center;
    text-decoration: none;
    border-radius: 60%;
}
  
.fa:hover {
      opacity: 0.7;
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-instagram {
    background: #f72a23fa;
    color: white;
}
  
.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
  
.features-icon .fa{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #7a5f33;
    border: 1px solid #7a5f33;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
    }
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
        }
}

