@import url(fontawesome.css);
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@1,200&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Orbitron');

*{
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue",sans-serif;
    font-weight: lighter;
    height:100%;
    margin:0%;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

/*Navigation Bar Style*/
.menu{
    width: 100%;
    padding: 0 10px 30px 10px;
    display: grid;
    grid-template-columns: repeat(autofit, minmax(350px,1fr));
    background-size: cover;
    padding: 0;
    margin: 0;
}

.heading{
    background-color:rgb(19, 9, 101);
    color: white;
    margin-bottom: 30px;
    padding: 30px 0;
    text-align: center;
}

.heading>h1{
    font-size:40px;
    letter-spacing: 3px;
    font-family: 'Kaushan Script', cursive;
}

.heading>h3{
    font-size:25px;
    letter-spacing: 2px;
    font-family: 'Kaushan Script', cursive;
}

/* Header Logo */
.logo1 {
    max-width: 25%;
    height: auto;
}

.logo2 {
    width:72px;
    height:70px;
    position:absolute;
    left: 5%;
    right:1%;
    top:0%;
    z-index:2;
}

.logo3 {
    width:95px;
    height:70px;
    position:absolute;
    top:3%;
    right:3%;
    z-index:2;
}

/*Drop down Style*/
.dropbtn{
    color: white;
    padding: 15px;
    border: none;
}
  
.dropdown {
    position: relative;
    display: inline-block;
    bottom:97%;
    left: 38%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(65, 56, 147, 0.863);
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 0;
    top:71px;
}

.dropdown-content a {
    color: rgb(245, 247, 239);
    font-size: 14px;
    padding: 15px 25px;
    text-decoration: none;
    display: block;
    text-align: center;
}
  
.dropdown-content a:hover, .dropdown-content_good a:hover, .dropdown-content_time a:hover{background-color: #ddd; color:#041629; }
  
.dropdown:hover .dropdown-content, .dropdown_article1:hover .dropdown-content_good, .dropdown_article2:hover .dropdown-content_time{display: block;}

/*Article Style*/
article{
    float:left;
    height:100vh;
}

.dropdown_article1 {
    position: relative;
    display: inline-block;
    left:15%;
}

.dropbtn_good{
    background-color: rgb(234, 109, 13);
    color: rgb(46, 5, 5);
    padding: 15px;
    border: none;
    min-width: 200px;
}

.dropdown-content_good {
    display: none;
    position: absolute;
    background-color: rgba(250, 255, 175, 0.863);
    min-width:211px;
    box-shadow: 0px 8px 16px 0px rgba(253, 145, 145, 0.2);
    z-index: 1;
    margin-right: 70px;
    top: 32px;
}
  
.dropdown-content_good a {
    color: rgb(47, 55, 23);
    font-size: 14px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown_article2 {
    position: relative;
    display: inline-block;
    left:1300px;
}

.dropbtn_time{
    background-color: rgb(234, 109, 13);
    color: rgb(46, 5, 5);
    padding: 15px;
    border: none;
    min-width: 250px;
}

.dropdown-content_time{
    display: none;
    position: absolute;
    background-color: rgba(250, 255, 175, 0.863);
    min-width:250px;
    box-shadow: 0px 8px 16px 0px rgba(253, 145, 145, 0.2);
    z-index: 1;
    margin-right: 70px;
    top: 32px;
}
  
.dropdown-content_time a {
    color: rgb(47, 55, 23);
    font-size: 14px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.input_address {
    position: relative;
    display: inline-block;
    bottom:97%;
    left:20%;
    top:22px;
}

textarea{
    width: 100%;
    height: 50px;
    padding: 12px 18px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 12px;
    resize: none;
}

/* Footer */
footer{
    clear:both;
    background-color:rgb(20, 20, 20);
    color:rgb(245, 179, 215);
}
  
footer h3{
    font-family: 'Kaushan Script', cursive;
    font-size: 22px;
}
  
.working-hours{
    float:left;
    width:14%;
    margin-left:8%;
    margin-bottom:10px;
}
  
.working-hours p{
    font-size:16px;
    color:rgb(214, 214, 214);
    margin-top:0.7%;
}
  
.services{
    float:left;
    width:12%;
    margin-left:5%;
    margin-bottom:10px;
}
  
.services a{
    font-size:16px;
    color:rgb(214, 214, 214);
    text-decoration:none;
    margin-top:-0.7%;
}
  
.services a:hover, .link a:hover{
    text-decoration:underline;
    color:rgb(188, 248, 188);
}
  
.contact{
    float:left;
    width:18%;
    margin-left:5%;
    margin-bottom:10px;
}
  
.contact p{
    font-size:16px;
    color:rgb(214, 214, 214);
}
  
.contact a{font-size:22px;}
  
.link a{
    font-size:16px;
    color:rgb(214, 214, 214);
    text-decoration:none;
}
  
.acknowledgement{
    float:left;
    width:20%;
    margin-top: 45px;
    margin-left:7%;
    margin-bottom:10px;
    color:rgb(214, 214, 214);
    text-align:center;
    font-family: 'Kaushan Script', cursive;
    font-size: 18px;
}
  
.last{
    color:rgb(214, 214, 214);
    clear:both;
    text-align:center;
}
  
/* Social Network */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 65px;
    text-align: center;
    text-decoration: none;
    border-radius: 60%;
}
  
.fa:hover {
      opacity: 0.7;
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-instagram {
    background: #f72a23fa;
    color: white;
}
  
.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
  
.features-icon .fa{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #7a5f33;
    border: 1px solid #7a5f33;
}

/*Databases body*/
.productNum {
    margin: 20px 250px;
}

.productContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: arial;
    padding: 20px;
    margin: 10px;
    height: 500px;
}

.card-text{
    width: 100%;
}

.card-image {
    width: 100%;
    height: 100%;
}

.addToCartButton{
    bottom: 0;
}   